﻿@model Site.ViewModels.Include.CredentialsViewModel
@{
    Layout = null;
}

<h2 class="account-title">Редактировать учетные данные</h2>
<p>
    <label class="label-name">Трекер</label>
    <select onchange="changeDiv('trackers');" id="trackers">
        <option></option>
        @foreach (var tracker in Model.Trackers)
        {
            <option value="@tracker.Tracker">@tracker.Tracker</option>
        }
    </select>
</p>
@foreach(var credential in Model.Credentials)
{
    <div id="@Html.Raw($"{credential.Tracker}_trackers_label")" class="result">
        <form id="credential">
            <input type="hidden" name="id" value="@credential.Id">
            <p>
                <label class="label-name">Логин</label>
                <input type="text" name="log" value="@credential.Log">
            </p>
            <p>
                <label class="label-name">Пароль</label>
                <input type="password" name="pass" value="@credential.Pass">
            </p>
            @if(credential.Tracker == "baibako.tv")
            {
                <p>
                    <label class="label-name">Passkey</label>
                    <input type="text" name="passkey" value="@credential.Passkey">
                </p>
            }
            <button class="form-button">Сохранить</button>
        </form>
    </div>
}

<div class="clear-both"></div>
<script src="/js/user-func.js"></script>