﻿@model Site.ViewModels.Include.TorrentViewModel
@{
    Layout = null;
}

<div id="notice_sub"></div>
<div align="right"><a href="#" onclick='$(".coverAll").hide();'><img src="/img/delete.png" boder="0"></a></div>
<h2 class="monitoring-title">Редактировать</h2>
<form id="torrent_update">
    <input type="hidden" name="id" value="@Model.Id"><br />
    <input type="hidden" name="tracker" value="@Model.Tracker"><br />
    <p>
        <label class="label-name">Название</label>
        <input type="text" name="name" value="@Model.Name"><br />
        <span class="subinput-text">Необязательно</span>
    </p>
    @if(!string.IsNullOrEmpty(Model.Torrent_id))
    {
        <p>
            <label class="label-name">Ссылка на тему</label>
        
            @if (Model.Tracker == "rutracker.org" || Model.Tracker == "nnm-club.me" || Model.Tracker == "tfile.me" || Model.Tracker == "torrents.net.ua" || Model.Tracker == "pornolab.net" || Model.Tracker == "rustorka.com")
            {
                Model.Tracker = $"http://{Model.Tracker}/forum/viewtopic.php?t=";
            }
            else if (Model.Tracker == "casstudio.tv" || Model.Tracker == "kinozal.tv" || Model.Tracker == "tracker.0day.kiev.ua" || Model.Tracker == "tv.mekc.info")
            {
                Model.Tracker = $"http://{Model.Tracker}/details.php?id=";
            }
            else if (Model.Tracker == "rutor.org")
            {
                Model.Tracker = "http://rutor.org/torrent/";
            }
            else if (Model.Tracker == "anidub.com")
            {
                Model.Tracker = "http://tr.anidub.com/";
            }
            else if (Model.Tracker == "animelayer.ru")
            {
                Model.Tracker = "http://animelayer.ru/torrent/";
            }
            <input type="text" name="url" value='@Html.Raw($"{Model.Tracker}{Model.Torrent_id}")'>
            <span class="subinput-text">Пример: http://rutracker.org/forum/viewtopic.php?t=4201572</span>
        </p>
        <p>
            <label class="label-name">Обновлять заголовок автоматически</label>
            <input type="checkbox" name="update" id="update" @Html.Raw(Model.Auto_update ? "checked" : string.Empty)><br>
        </p>
    }

    @if (Model.Hd >= 0 && (Model.Tracker == "lostfilm.tv" || Model.Tracker == "lostfilm-mirror" || Model.Tracker == "novafilm.tv" || Model.Tracker == "baibako.tv" || Model.Tracker == "newstudio.tv"))
    {
        var input = "";
        <p>
            <label class="label-name"></label>
        
            @if (Model.Hd == 1 && (Model.Tracker == "lostfilm.tv" || Model.Tracker == "lostfilm-mirror"))
            {
                input = "<input type='radio' name='hd' value='0'> SD<br /><input type='radio' name='hd' value='2'> HD 720<br /><input type='radio' name='hd' value='1' checked> HD 1080";
            }
            else if (Model.Hd == 1 && (Model.Tracker == "baibako.tv" || Model.Tracker == "newstudio.tv" || Model.Tracker == "novafilm.tv"))
            {
                input = "<input type='radio' name='hd' value='0'> SD<br /><input type='radio' name='hd' value='1' checked> HD 720<br /><input type='radio' name='hd' value='2'> HD 1080</span>";
            }
            else if (Model.Hd == 2 && (Model.Tracker == "lostfilm.tv" || Model.Tracker == "lostfilm-mirror"))
            {
                input = "<input type='radio' name='hd' value='0'> SD<br /><input type='radio' name='hd' value='2' checked> HD 720<br /><input type='radio' name='hd' value='1'> HD 1080";
            }
            else if (Model.Hd == 2 && (Model.Tracker == "baibako.tv" || Model.Tracker == "newstudio.tv" || Model.Tracker == "novafilm.tv"))
            {
                input = "<input type='radio' name='hd' value='0' checked> SD<br /><input type='radio' name='hd' value='1'> HD 720<br /><input type='radio' name='hd' value='2'> HD 1080</span>";
            }
            else if (Model.Hd == 0 && (Model.Tracker == "lostfilm.tv" || Model.Tracker == "lostfilm-mirror"))
            {
                input = "<input type='radio' name='hd' value='0' checked> SD<br /><input type='radio' name='hd' value='2'> HD 720<br /><input type='radio' name='hd' value='1'> HD 1080";
            }
            else
            {
                input = "<input type='radio' name='hd' value='0' checked> SD<br /><input type='radio' name='hd' value='1'> HD 720<br /><input type='radio' name='hd' value='2'> HD 1080</span>";
            }

            <span id="changedField"><span class="quality">@Html.Raw(input)</span></span>
        </p>
    }
   
    <p>
        <label class="label-name">Директория для скачивания</label>
        <input type="text" name="path" id="path" value="@Model.Path"><br>
        <span class="subinput-text">Например: /var/lib/transmission/downloads</span>
    </p>
    <p>
        <label class="label-name">Выполнить скрипт</label>
        <input type="text" name="script" id="script" value="@Model.Script"><br>
        <span class="subinput-text">Например: /home/user/check.sh</span>
    </p>
    <p>
        <label class="label-name">Сбросить время последнего обновления</label>
        <input type="checkbox" name="reset" id="reset"><br>
    </p>
    <!--</div>-->
    <button class="form-button">Сохранить</button>
</form>
<div class="clear-both"></div>
<script src="/js/user-func.js"></script>
<script>
$(function() {
    var availableTags = [
        @if (Model.Paths.Count > 0)
        {
            foreach (var path in Model.Paths)
            {
                @Html.Raw($"'{path}',");
            }
        }
    ];
    $( "#path" ).autocomplete({
      source: availableTags
    });
    $( "#path2" ).autocomplete({
      source: availableTags
    });
});
</script>