﻿@using System.Threading.Tasks
@using Site.ViewModels.Include
@model Site.ViewModels.Include.SettingsViewModel
@{
    Layout = null;
}

    <script type="text/javascript">
    changeDiv('notification');
    changeDiv('warning');
    </script>
    <h2 class="settings-title">Настройки монитора</h2>

    <form id="setting">
        <p>
            <label class="label-name">Адрес TorrentMonitor</label>
            <input type="text" name="serverAddress" value="@Model.GetSettingStringValue("serverAddress")">
            <span class="subinput-text">Например: http://torrent.test.ru/</span>
        </p>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="send" @Html.Raw(Model.GetSettingBoolValue("send") ? "checked" : "") onclick="expand('sendNotification')"> Отправлять уведомления</label>
        </p>
        <div id="sendNotification" @Html.Raw(Model.GetSettingBoolValue("send") ? "" : "class='result'")>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="sendUpdate" @Html.Raw(Model.GetSettingBoolValue("sendUpdate") ? "checked" : "") onclick="expand('sendUpdate')"> Отправлять уведомления об обновлениях</label>
        </p>
            <div id="sendUpdate" @Html.Raw(Model.GetSettingBoolValue("sendUpdate") ? "" : "class='result'")>
                <label class="label-name">Сервис уведомлений</label>
                @Html.DropDownList("sendnotificationService", Model.GetNotificationListOptions("notification", Model.GetSettingStringValue("sendUpdateService")),
                    new {onchange = "changeDiv('notification')", id = "notification"})

                <br/>
                @{ var notificationList = Model.GetNotificationList("notification").ToList();}
                @for (var i = 0; i < notificationList.Count(); i++)
                {
                    var service = notificationList[i];
                    <div id="@Html.Raw($"{service.Service}_notification_label")" class="result">
                        <input type="hidden" name="id" value="@service.Id">
                        <p>
                            <label class="label-name">Адрес</label>
                            <input type="text" name="@Html.Raw($"sendnotificationAddress{service.Id}")" value="@service.Address">
                        </p>
                    </div>
                }
                <span class="subinput-text">Например: korp@bk.ru</span>

            </div>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="sendWarning" @Html.Raw(Model.GetSettingBoolValue("sendWarning") ? "checked" : "") onclick="expand('sendWarning')"> Отправлять уведомления об ошибках</label>
        </p>
            <div id="sendWarning" @Html.Raw(Model.GetSettingBoolValue("sendWarning") ? "" : "class='result'")>
                <label class="label-name">Сервис уведомлений</label>
                @Html.DropDownList("sendwarningService", Model.GetNotificationListOptions("warning", Model.GetSettingStringValue("sendWarningService")),
                    new {onchange = "changeDiv('warning')", id = "warning"})
                <br/>
                @{ notificationList = Model.GetNotificationList("warning").ToList();}

                @for (var i = 0; i < notificationList.Count(); i++)
                {
                    var service = notificationList[i];
                    <div id="@Html.Raw($"{service.Service}_warning_label")" class="result">
                        <input type="hidden" name="id" value="@service.Id">
                        <p>
                            <label class="label-name">Адрес</label>
                            <input type="text" name="@Html.Raw($"sendwarningAddress{service.Id}")" value="@service.Address">
                        </p>
                    </div>
                }
                <span class="subinput-text">Например: korp@bk.ru</span>

            </div>
    </div>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="auth" @Html.Raw(Model.GetSettingBoolValue("auth") ? "checked" : "")> Включить авторизацию</label>
        </p>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" id="proxy" name="proxy" @Html.Raw(Model.GetSettingBoolValue("proxy") ? "checked" : "") onclick="expand('proxySettings')"> Использовать прокси</label>
        </p>
        <div id="proxySettings" @Html.Raw(Model.GetSettingBoolValue("proxy") ? "" : "class='result'") >
        <p>
            <label class="label-name">Тип proxy</label>
            <label>
                <select id="proxyType" name="proxyType">
                    @Html.Raw($"<option value='HTTP' {(Model.GetSettingStringValue("proxyType") == "HTTP" ? "selected" : "")} >HTTP</option>")
                    @Html.Raw($"<option value='SOCKS5' {(Model.GetSettingStringValue("proxyType") == "SOCKS5" ? "selected" : "")} >SOCKS5</option>")
                </select>
            </label>
            <br />
            <label class="label-name">IP, порт прокси-сервера</label>
            <input type="text" name="proxyAddress" value="@Model.GetSettingStringValue("proxyAddress")">
            <span class="subinput-text">Например: 127.0.0.1:9050</span>
        </p>
    </div>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" id="torrent" name="torrent" @Html.Raw(Model.GetSettingBoolValue("useTorrent") ? "checked" : "") onclick="expand('torrentSettings')"> Управлять торрент-клиентом</label>
        </p>
        <div id="torrentSettings" @Html.Raw(Model.GetSettingBoolValue("useTorrent") ? "" : "class='result'")>
        <p>
            <label class="label-name">Торрент-клиент</label>
            <label>
                <select id="torrentClient" name="torrentClient">
                    @Html.Raw($"<option value='Deluge'; {(Model.GetSettingStringValue("torrentClient") == "Deluge" ? "selected":"")}>Deluge</option>")
                    @Html.Raw($"<option value='Transmission' {(Model.GetSettingStringValue("torrentClient") == "Transmission" ? "selected" : "")}>Transmission</option>")
                </select>
            </label>
        </p>
        <p>
            <label class="label-name">IP, порт торрент-клиента</label>
            <input type="text" name="torrentAddress" value="@Model.GetSettingStringValue("torrentAddress")">
            <span class="subinput-text">Например: 127.0.0.1:58846</span>
        </p>
        <p>
            <label class="label-name">Логин</label>
            <input type="text" name="torrentLogin" value="@Model.GetSettingStringValue("torrentLogin")">
            <span class="subinput-text">Например: KorP</span>
        </p>
        <p>
            <label class="label-name">Пароль</label>
            <input type="password" name="torrentPassword" value="@Model.GetSettingStringValue("torrentPassword")">
            <span class="subinput-text">Например: Pa$$w0rd</span>
        </p>
        <p>
            <label class="label-name">Директория для скачивания</label>
            <input type="text" name="pathToDownload" value="@Model.GetSettingStringValue("pathToDownload")">
            <span class="subinput-text">Например: /var/lib/transmission/downloads</span>
        </p>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="deleteDistribution" @Html.Raw(Model.GetSettingBoolValue("deleteDistribution") ? "checked" : "")> Удалять раздачи из torrent-клиента</label>
        </p>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="deleteOldFiles" @Html.Raw(Model.GetSettingBoolValue("deleteOldFiles") ? "checked" : "")> Удалять файлы старых раздач</label>
            <span class="subinput-text">Только для lostfilm.tv, novafilm.tv, baibako.tv и newstudio.tv</span>
        </p>
    </div>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="rss" @Html.Raw(Model.GetSettingBoolValue("rss") ? "checked" : "")> RSS лента</label>
        </p>
        <p>
            <label class="label-name"></label>
            <label><input type="checkbox" name="debug" @Html.Raw(Model.GetSettingBoolValue("debug") ? "checked" : "")> Режим отладки</label>
        </p>
        <button class="form-button">Сохранить</button>
    </form>
    <br />
    <br />
    <h2 class="settings-title">Смена пароля</h2>
    <form id="change_pass">
        <p>
            <label class="label-name">Новый пароль</label>
            <input type="password" name="password">
        </p>
        <p>
            <label class="label-name">Еще раз</label>
            <input type="password" name="password2">
        </p>
        <button class="form-button">Сменить</button>
    </form>
    <script src="/js/user-func.js"></script>
