﻿@model Site.ViewModels.Include.WarningsViewModel

@{
    Layout = null;
}

<table class="warning_table" border="0" cellpadding="0" cellspacing="1">
    <thead>
        <tr>
            <th width="20%">Время</th>
            <th width="15%">Трекер</th>
            <th width="65%">Причина</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Warnings.Count; i++)
        {
            var cl = i % 2 == 0 ? "second" : "first";
            var warn = Model.Warnings[i];


            <tr class="@cl">
                <td align="center">@warn.Time.ToString()</td>
                <td>&nbsp;&nbsp;@warn.Where</td>
                <td>&nbsp;&nbsp;@warn.Reason</td>
            </tr>
        }
    </tbody>
</table>