﻿@using Site.ViewModels.Include
@model Site.ViewModels.Include.ShowWatchingViewModel
@{
    Layout = null;
}
<script language="javascript">
    // возвращает cookie с именем name, если есть, если нет, то undefined
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    $(document)
        .ready(function () {
            var id = getCookie('id');
            if (typeof id !== 'undefined') {
                var div = "#" + id;
                $(this).toggleClass("active");
                $(div).next().toggle();
            }
        });
</script>

@if (Model.Watchs.Count > 0)
{
    <form id="threme_clear" method="post">
        @foreach (WatchViewModel t1 in Model.Watchs)
        {
            <div class="user-torrent-del" onclick="delete_user(@t1.Id)"></div>
            <div class="user-torrent" id="@t1.Id">Раздачи пользователя <strong>@t1.Name</strong> на трекере <b>@t1.Tracker</b>:</div>

            
                if (t1.Themes.Count > 0)
                {

                    <div id='@t1.Id' class='result'>
                        <table>
                            <thead>
                                <tr>
                                    <th>Скачать</th>
                                    <th>Раздел</th>
                                    <th>Тема</th>
                                    <th>Удалить</th>
                                    <th>Добавить для наблюдения</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (BufferViewModel t in t1.Themes)
                        {
                            var url = $"http://{t1.Tracker}/forum/viewtopic.php?t=";


                                    <tr>
                                        <td><img src="/img/icon1.png" onclick="threme_add(@t.Id, @t1.Id)"></td>
                                        <td class="text-align-left">@t.Section</td>
                                        <td class="text-align-left"><a href="@Html.Raw($"{url}{t.ThemeId}")" target="_blank">@t.Theme</a></td>
                                        <td><a class="delete" onclick="delete_from_buffer(@t.Id)"></a></td>
                                        <td><a class="add" onclick="transfer_from_buffer(@t.Id)"></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {

                    <table class="user-table">
                        <tbody>
                            <tr>
                                <td colspan="5">Нет новых тем от пользователя <strong>@t1.Name</strong>.</td>
                            </tr>
                        </tbody>
                    </table>
                }
            
        }
        <br>
        <button>Очистить</button>
    </form>

}
else
{
    <text> Нет пользователей для мониторинга.</text>
}

<div class="clear-both"></div>
<script src="/js/user-func.js"></script>