﻿@model Site.ViewModels.Include.ShowTableVIewModel
@{
    Layout = null;
}

@if (Model.TorrentList.Count == 0)
{
    <text>Нет тем для мониторинга</text>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Трекер</th>
                <th>Название &nbsp;&nbsp;&nbsp;<span class="arr"><a href="action.php?action=order&order=name">&#9650;</a></span></th>
                <th nowrap>Последнее обновление &nbsp;&nbsp;&nbsp;<span class="arr"><a href="action.php?action=order&order=date">&#9650;</a></span>&nbsp;<span class="arr"><a href="action.php?action=order&order=dateDesc">&#9660;</a></span></th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.TorrentList.Count; i++)
            {
                var torrent = Model.TorrentList[i];

                <tr>
                    <td class="text-align-left" nowrap><span class="icon-torrent" style="background-image: url(/img/@torrent.IconName"></span>@torrent.Tracker</td>
                    <td class="text-align-left">

                        @if (torrent.Tracker == "rutracker.org" || torrent.Tracker == "nnmclub.to" || torrent.Tracker == "tfile.me" || torrent.Tracker == "torrents.net.ua" || torrent.Tracker == "pornolab.net" || torrent.Tracker == "rustorka.com")
                    {
                            <a href="http://@torrent.Tracker/forum/viewtopic.php?t=@torrent.Torrent_id" target="_blank">@torrent.Name</a>
                        }
                        else if (torrent.Tracker == "kinozal.tv" || torrent.Tracker == "tracker.0day.kiev.ua" || torrent.Tracker == "tv.mekc.info")
                        {
                            <a href="http://@torrent.Tracker ?>/details.php?id=@torrent.Torrent_id" target="_blank">@torrent.Name</a>
                        }
                        else if (torrent.Tracker == "animelayer.ru" || torrent.Tracker == "rutor.org")
                        {
                            <a href="http://@torrent.Tracker/torrent/@torrent.Torrent_id" target="_blank">@torrent.Name</a>
                        }
                        else if (torrent.Tracker == "anidub.com")
                        {
                            <a href="http://tr.anidub.com/@torrent.Torrent_id" target="_blank">@torrent.Name</a>
                        }
                        else if (torrent.Tracker == "casstudio.tv")
                        {
                            <a href="http://@torrent.Tracker/viewtopic.php?t=@torrent.Torrent_id" target="_blank">@torrent.Name</a>
                        }
                        else
                        {
                            if (torrent.Hd == 1 && torrent.Tracker == "lostfilm.tv" || torrent.Hd == 1 && torrent.Tracker == "lostfilm-mirror")
                            {
                                <img src="/img/1080.png">
                            }
                            else if (torrent.Hd == 1 && torrent.Tracker == "baibako.tv" || torrent.Hd == 1 && torrent.Tracker == "hamsterstudio.org" || torrent.Hd == 1 && torrent.Tracker == "newstudio.tv" || torrent.Hd == 1 && torrent.Tracker == "novafilm.tv")
                            {
                                <img src="/img/720.png">
                            }
                            else if (torrent.Hd == 2 && torrent.Tracker == "lostfilm.tv" || torrent.Hd == 2 && torrent.Tracker == "lostfilm-mirror")
                            {
                                <img src="/img/720mp4.png">
                            }
                            else if (torrent.Hd == 2 && torrent.Tracker == "baibako.tv" || torrent.Hd == 2 && torrent.Tracker == "hamsterstudio.org" || torrent.Hd == 2 && torrent.Tracker == "newstudio.tv" || torrent.Hd == 2 && torrent.Tracker == "novafilm.tv")
                            {
                                <img src="/img/1080.png">
                            }
                            else
                            {
                                <img src="/img/sd.png">
                            }
                            <text>&nbsp;@torrent.Name</text>
                        }
                        @if (!string.IsNullOrEmpty(torrent.Path))
                    {
                            <br />
                            <font size="1">
                                Путь сохранения: @torrent.Path
                            </font>
                        }
                    </td>
                    <td nowrap>

                    @if (torrent.Timestamp == DateTime.MinValue || torrent.Timestamp == null) { }
                    else
                    {
                        if (torrent.Tracker != "rutracker.org" && torrent.Tracker != "nnmclub.to" && torrent.Tracker != "rutor.org" && torrent.Tracker != "kinozal.tv")
                        {
                            <div onclick='expand("div_@torrent.Id")' class="cut" style="cursor: pointer;">@torrent.Timestamp.ToString()</div>
                        }
                        else
                        {

                            <div class="cut">
                                @torrent.Timestamp.ToString()
                                @*}
                                        $date_update = $day." ".Sys::dateNumToString($month)." ".$year." ".$time;
                                        $date = $day."-".$month."-".$year;
                                        if (stripos($date, $date_today) !== FALSE)
                                        echo "<u>".$date_update."</u>";
                                        else
                                        echo $date_update;
                                        ?>*@
                            </div>
                        }
                        if (torrent.Timestamp != DateTime.MinValue)
                        {
                            if (torrent.Tracker != "rutracker.org" && torrent.Tracker != "nnmclub.to" && torrent.Tracker != "rutor.org" && torrent.Tracker != "kinozal.tv")
                            {
                                var season = torrent.Ep.Substring(1, 2);
                                var episode = torrent.Ep.Substring(4,2);

                                <div id="div_@torrent.Id" class="result">
                                    Последняя скачаная серия:<br>
                                    Сезон @season, эпизод @episode
                                </div>
                            }
                        }
                            
                    }
                    </td>
                    <td>
                        <a href="#" class="edit" onclick="showForm(@torrent.Id)"></a>
                        <a href="#" class="delete" onclick="del(@torrent.Id,'@torrent.Name')"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="updatetime">
        Последний запуск:
        @if (Model.LastStart.HasValue)
        {
            <text>@Model.LastStart.ToString()</text>
        }
        else
        {
            <text>Ещё не производился.</text>
        }
    </div>
}