﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TorrentMonitor</title>

        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/ohSnap.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <link rel="icon" type="/image/png" href="/img/favicon.png" />
        <!--[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]-->
    </head>
    <body>
        
        <div id="page-content">
            @RenderBody()
        </div>

        <div id="ohsnap"></div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/user-func.js"></script>
        <script src="/js/ohsnap.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
